* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Poiret One', serif, sans-serif;
    font-size: 24px;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    line-height: 28px;
    color: #614021;
    letter-spacing: 0.08em;
    text-indent: 2px;
    background: #FFECE1;
}

.btn {
    margin: 2rem;
    font-family: 'Poiret One', serif, sans-serif;
    font-weight: normal;
    font-size: 20px;
    position: relative;
    border-radius: 99px;
    letter-spacing: 0.08em;
    border: none;
    padding: 1.5rem 2rem;

    background: rgba(233, 187, 145, 0.8);
    transition: all 0.22s;
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: 1!important;
    background: #eee!important;
    border-color: #ddd!important;
    color: #999!important;
}

.btn:active {
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.btn.primary {
    background: #42b983;
    color: #fff;
}

.btn.danger {
    background: #e53935;
    color: #fff;
    border-color: #e53935;
}

.btn.warning {
    background: #c25205;
    color: #fff;
    border-color: #c25205;
}

/* h1 и h3 наследуются */
h2 {
    margin-bottom: 4rem;
    font-family: 'Poiret One', serif, sans-serif;
    font-weight: bold;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #70573B;
}

p {
    max-width: 50rem;
    margin: 1rem 0;
    font-family: 'Istok Web', cursive;
    font-style: normal;
    font-weight: lighter;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    margin-bottom: 2rem;
}